.searchHeader {
    width: 100%;
    background-color: rgb(2, 2, 153);
    height: 44px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.searchInput {
    width: 100%;
    padding: 6px;
    padding-left: 35px;
}

.searchContainer {
    position: relative;
    width: 300px;
}


.btnForm {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
}